.nav-bar {
  background-color: #c3e2c4;
  color: grey;
  float: left;
  min-height: calc(100vh - 70px);
  flex: 1 0 auto;
  align-self: stretch;
}
.nav-item {
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  cursor: pointer;
  padding: 15px;
  &:hover {
    background-color: #87ea8b;
  }
}
.nav-item-selected {
  background-color: #87ea8b;
}
